svg {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 14px;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    fill: #24292e;
}

text {
    text-anchor: middle;
    dominant-baseline: middle;
}

rect {
    fill: #f6f8fa;
}

.held {
    fill: #fdd;
}
